<div class = "row">
  <div class = "col-8 offset-2">
  	<div class = "card">
  	  <div class = "card-header login_header">
  	    <h2><%= t :property_new_title%></h2>
  	  </div>	
      <!-- Show errors if any -->
  	  <div class = "card-body px-3">
        <%= render :partial => "shared/error_handling",
        :locals => {:the_object => @property,
                    :objectname => 'Property'} %>
        <%= form_for @property,:html=>{:multipart => true} do |f|%>            
        <!-- Render the form -->
  	    <%= render :partial => 'form',
        :locals => {:f => f}%>
      </div>
    </div>
    <br>
    <!-- Save button -->  
    <div class="col-4" style="padding-left: 0px">
      <%= f.submit (t :save_property_button),
          class: 'btn btn-trunfo btn-block' %>
    </div>
    <% end %>
  </div>
</div>    