
<div class = "row">
  <div class = "col-12">
	  <h5 id ="about1" class = "trunfo-main">
      <%= t :about1_html%>
    </h5>
    <br>
    <h5 id ="about2" class = "trunfo-main">
      <%= t :about2_html%>
    </h5>
    <ul class = "trunfo-main">
    	<li><%= t :reason1_html%></li>
    	<li><%= t :reason2_html%></li>
    	<li><%= t :reason3_html%></li>
    	<li><%= t :reason4_html%></li>
    </ul>
    
    <h5 id ="about3" class = "trunfo-main text-justify">
      <%= t :about3_html%>
    </h5>
    <br>
    <h4 id ="about4" class = "trunfo-main text-justify">
        <%= t :about4_html%>
    </h4>
    <br>
	<h5 id ="about5" class = "trunfo-main text-justify">
      <%= t :about5_html%>
    </h5>
	<br>
	<h5 id ="about6" class = "trunfo-main text-justify">
      <%= t :about6_html%>
    </h5>
	<br>
	<h5 id ="about7" class = "trunfo-main text-justify">
      <%= t :about7_html%>
    </h5>
  </div>
</div>
  


